.loading {
	border: 6px solid rgba(#00a8e8, .1);
	border-top-color: rgba(#00a8e8, .4);
	border-radius: 100%;
	height: 50px;
	width: 50px;
	animation: rotate .8s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}